@model JapanoriSystem.Models.Funcionario
@{
    ViewBag.Title = "Login";
}



<br />
<br />
<br />

<br />
<div class="row"> Imagem Logo </div>
<br />

<br />
<br />
<br />
@ViewBag.msgLogar
@using (Html.BeginForm("Login", "Conta", FormMethod.Post))
{
    <fieldset>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.EmailCorp, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.EmailCorp, new
                {
                    htmlAttributes = new { id = "txtEmail", senha = "txtEmail", type = "text", @class = "form-control", placeholder = "Digite seu Email", required = "required", maxlength = "100" }
                })
                @Html.ValidationMessageFor(m => m.EmailCorp, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Senha, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Senha, new
                {
                    htmlAttributes = new { id = "txtSenha", senha = "txtSenha", type = "password", @class = "form-control", placeholder = "Digite sua senha", required = "required", maxlength = "30" }
                })
                @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" class="btn btn-success" value="Entrar" />
            </div>
        </div>
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}