@model JapanoriSystem.Models.ProdutoComanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoComanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comanda.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comanda.Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoComandaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
