@model JapanoriSystem.Models.Comanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produtos)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
                @foreach (var item in Model.Produtos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produto.Preco)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
