@model PagedList.IPagedList<JapanoriSystem.Models.Comanda>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Lista de Comandas";
}

<h2>Comandas</h2>

<p>
    @Html.ActionLink("Criar Nova", "Create")
</p>
<br />
@using (Html.BeginForm("Index", "Comanda", FormMethod.Get))
{
    <table>
        <tr>
            <th>Código da Comanda: </th>
            <th>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })</th>
            <th><input type="submit" value="Search" class="btn btn-default" /></th>
        </tr>
    </table>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Código", "Index", new { sortOrder = ViewBag.CodSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Situação", "Index", new { sortOrder = ViewBag.SitSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Quantidade de Produtos
        </th>
        <th>
            Valor Total
        </th>
    </tr>
    @{

    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @{
                    string parameterValue = item.Produtos.Count().ToString();
                }
                @Html.DisplayFor(modelItem => parameterValue)
            </td>
            <td>
                @{
                    string total1 = item.Produtos.Sum(x => x.Produto.Preco).ToString();
                    string total = "R$ " + total1;
                }
                @Html.DisplayFor(modelItem => total)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
