@model IEnumerable<JapanoriSystem.Models.ProdutoComanda>

@{
    ViewBag.Title = "Caixa";
}

<h2>Caixa</h2>
<hr />
<h1>
    Comanda
    @if (ViewBag.ID != 0)
    {
        @ViewBag.ID
    }
    @if (ViewBag.ID2 != 0 && ViewBag.ID == 0)
    {
        @ViewBag.ID2
    }
</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.ProdutoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Preco)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Preco)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>*@
            <td>
                @*<a href="#" class="btn btn-default btnEdit" data-value="@item.ProdutoComandaID">Edit</a>*@
                @Html.ActionLink("Edit", "Edit", new { id = item.ProdutoComandaID }, htmlAttributes: new { @class = "btn btn-default btnEdit" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProdutoComandaID }, htmlAttributes: new { @class = "btn btn-default btnEdit" } ) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoComandaID }, htmlAttributes: new { @class = "btn btn-danger btnEdit" } )
            </td>
        </tr>
    }

</table>

@*<div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="conteudoModal"></div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {

                $(".btnEdit").click(function () {

                    var id = $(this).data("value");

                    $("#conteudoModal").load("/Caixa/Edit" + id,

                        function () {
                            $('#myModal').modal("show");
                        }

                    );

                });

            });

        </script>
        }
*@