@model IEnumerable<JapanoriSystem.Models.ProdutoComanda>

@{
    ViewBag.Title = "Caixa";
}

<h2>Caixa</h2>
<hr />
<h1>
    Comanda
    @if (ViewBag.ID != 0)
    {
        @ViewBag.ID
    }
    @if (ViewBag.ID2 != 0 && ViewBag.ID == 0)
    {
        @ViewBag.ID2
    }
</h1>
<h3>
    Total:
    R$ @ViewBag.Total
    @if (ViewBag.Total == null)
    {
        @ViewBag.Total2
    }
</h3>

    @Html.ActionLink("Adicionar", "addProduto", new { id = ViewBag.ID }, htmlAttributes: new { @class = "btn btn-success" }) | 
    @Html.ActionLink("Finalizar", "Finalizar", new { id = ViewBag.ID }, htmlAttributes: new { @class = "btn btn-success" })

@if (ViewBag.ID == 0)
{
    @Html.ActionLink("Adicionar", "addProduto", new { id = ViewBag.ID2 }, htmlAttributes: new { @class = "btn btn-success" })
    @Html.ActionLink("Finalizar", "Finalizar", new { id = ViewBag.ID2 }, htmlAttributes: new { @class = "btn btn-success" })
}
@ViewBag.teste
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            Funcionário
        </th>
        <th>
            Valor Unitário
        </th>
        <th>
            Valor Total
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @ViewBag.nomeUsuarioLog
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Produto.Preco)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProdutoComandaID }, htmlAttributes: new { @class = "btn btn-default" }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.ProdutoComandaID }, htmlAttributes: new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

@*<div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="conteudoModal"></div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {

                $(".btnEdit").click(function () {

                    var id = $(this).data("value");

                    $("#conteudoModal").load("/Caixa/Edit" + id,

                        function () {
                            $('#myModal').modal("show");
                        }

                    );

                });

            });

        </script>
        }
*@