@model JapanoriSystem.Models.ProdutoComanda
@{
    ViewBag.Title = "Excluir";
}

@if (ViewBag.DeleteProduto == null)
{
    using (Html.BeginForm())
    {
        <div class="hide">
            @Html.TextBoxFor(model => model.ComandaID, htmlAttributes: new { id = "ComandaID", @class = "form-control", value = ViewBag.ID })
        </div>
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <h4>Tem certeza que deseja excluir este produto?</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProdutoComandaID, htmlAttributes: new { id = "ProdutoComandaID" })

            <div class="form-group">
                @*@Html.LabelFor(model => model.Produto, "ComandaID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                
                <div class="col-md-10">
                    <h4>Produto:</h4> 
                    @Html.DisplayFor(model => model.Produto.Nome)
                </div>
            </div>

            @if (ViewBag.ConfirmErro != null)
            {
                <p>@ViewBag.MsgErro</p>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Excluir" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("Voltar", "Caixa", new { id = Model.ComandaID })
</div>